version: '2'
services:
# This is called load-balancer but actually it's just a reverse proxy right now to route to the correct microservices
  load-balancer:
    build: ./load-balancer
    volumes: 
      - ./load-balancer/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./load-balancer/static:/static:ro
    ports:
      - 80:80
    depends_on:
      - rest-api
      - web-client
  rest-api:
    links:
      - "db:db"
    image: pagekb/golang-gin
    volumes:
      - ./rest-api:/go/src/dockerized-go-app/rest-api:ro
    command: gin -t /go/src/dockerized-go-app/rest-api
    environment:
      - DB_USERNAME=restbucks
      - DB_PASSWORD=restbucks
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=restbucks
      - REST_API_HTML_DOCS_ROOT=/go/src/dockerized-go-app/rest-api/static
      - LOGXI=*
  rest-api-integration-tester:
    build: ./rest-api-integration-tester
    volumes:
      - ./rest-api:/go/src/dockerized-go-app/rest-api:ro
    links:
      - rest-api
  db:
    image: mariadb:10.1.16
    environment:
      - MYSQL_ROOT_PASSWORD=rewt
      - MYSQL_DATABASE=restbucks
      - MYSQL_USER=restbucks
      - MYSQL_PASSWORD=restbucks
      - LANG=C.UTF-8
    ports:
# Linked containers will use standard db port, but exposing as 3336 on host to avoid conflicting with
# other existing DB that may be installed
      - 3336:3306
  db-migrations:
    image: pagekb/docker-flyway
    command: ./wait-for-it.sh db:3306 -s -- flyway -url=jdbc:mysql://db -schemas=restbucks -user=root -password=rewt migrate
    volumes:
      - ./db/migrations:/flyway/sql:ro
    depends_on:
      - db
  web-client:
    build: ./web-client
    user: node
    volumes:
      - ./web-client:/home/node/app:ro
      - /home/node/app/node_modules
